/* SettingsPage.css */
.settings-container {
    margin-top: 20px;
    padding: 20px;
    max-width: 50rem;
    font-family: 'Battambang';
  }

  .setting-accordion{
    background-color: #1f665e;
    color: #fff;
    font-size: 20px;
  }

  .setting-title {
    margin-bottom: 20px;
    font-size: 36px;
  }


  .accordion-item {
    margin-bottom: 10px;
  }

  .accordion-header button {
    font-size: 20px;
    background-color: #1f665e;
    color: #fff;
  }

  .setting-icon{
    font-size: 30px;
  }

  .backup-btn{
    color: #fff;
    border-color: #fff;
    transition: all 0.3s ease;
  }

  .backup-btn:hover{
    color: #000;
    background-color: #e7e7e7;
  }

  .contact-link{
    color: #fff;
    transition: all 0.3s ease;
  }
 .contact-link:hover{
  color: #eac60b;
 }
